/*
**Animation Mixin
*/
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

header .logo {
  float: right;
  width: 30%;
}

header .navbar {
  float: left;
  width: 70%;
}

.heading .head-with-border {
  position: relative;
}

.heading .head-with-border h2 {
  background-color: #e2494c;
  color: #fff;
  text-align: center;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px 15px;
}

.heading .head-with-border h2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  z-index: -1;
}

.heading p {
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  color: #5e5e5e;
  font-weight: bold;
}

.main-button {
  padding: 17px 23px;
  border: 0;
  border-radius: 13px;
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: normal;
  background-color: #e2494c;
  transition: 0.2s;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.main-button:hover {
  background-color: rgba(226, 73, 76, 0.9);
}

input {
  border: none;
  padding: 13px;
  border-radius: 13px;
  color: #e2494c;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  outline: none;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #e2494c;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  border: 2px solid #e2494c;
}

textarea {
  padding: 22px;
  border: none;
  width: 100%;
  min-height: 72px;
  border-radius: 12px;
  color: #e2494c;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 100%;
}

textarea:hover,
input:hover {
  outline: none;
}

header .logo {
  float: left;
  width: 30%;
  text-align: center;
}

@media (min-width: 768px) {
  header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}

header .logo h1 {
  margin-bottom: 0;
}

header .navber {
  float: left;
  width: 70%;
  margin-top: 30px;
  background-color: #e2494c;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

header .navber li {
  text-align: center;
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}

header .navber li a {
  padding: 20px 10px;
  display: block;
  text-decoration: none;
  color: #fff;
}

header .navber li a:hover {
  color: #ddd;
}

.slider {
  clear: both;
  padding: 22px;
  text-align: center;
  font-size: 22px;
  color: #5e5e5e;
  font-family: none;
  font-weight: bold;
  line-height: 1.7;
}

.slider .bullent {
  text-align: center;
}

.slider .bullent li {
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #9c9c9c;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.slider .bullent li.active, .slider .bullent li:hover {
  background-color: #9c9c9c;
}

.services img,
.our-player img {
  max-width: 100%;
}

.services .boxs,
.our-player .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .boxs .box,
.our-player .boxs .box {
  -ms-flex-preferred-size: 32.6%;
      flex-basis: 32.6%;
}

.services .boxs .box h2,
.our-player .boxs .box h2 {
  color: #5e5e5e;
}

.services .boxs .box p,
.our-player .boxs .box p {
  line-height: 1.7;
  color: #101010;
}

.services .boxs .box a,
.our-player .boxs .box a {
  text-decoration: none;
  color: #e2494c;
  font-size: 17px;
  font-weight: bold;
}

.our-player .box {
  -ms-flex-preferred-size: 19.2% !important;
      flex-basis: 19.2% !important;
}

.feature {
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature .boxs .box {
  -ms-flex-preferred-size: 32.6%;
      flex-basis: 32.6%;
}

.feature .boxs .box img {
  max-width: 100%;
}

.footer {
  background-color: #9c9c9c;
  padding: 22px;
}

.footer .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .boxs .box:nth-child(1) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .boxs .box:nth-child(2), .footer .boxs .box:last-of-type {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
}

.footer .boxs .box .box-heading {
  color: #5e5e5e;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 30px;
}

.footer .boxs .box .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .boxs .box .part .image {
  width: 272px;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .boxs .box .part .image img {
  max-width: 100%;
}

.footer .boxs .box .part .text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.footer .boxs .box .part .text h2 {
  color: #e2494c;
  font-weight: bold;
  padding: 0;
}

.footer .boxs .box .part .text p {
  line-height: 1.7;
  color: #2c2c2c;
  font-size: 19px;
}

.footer .boxs .box p {
  line-height: 1.7;
  color: #2c2c2c;
  font-size: 19px;
}

.footer .boxs .box a {
  color: #e2494c;
  text-decoration: none;
  font-size: 21px;
}

.footer .boxs .box form input {
  margin-bottom: 22px;
}

.footer .boxs .box form button {
  margin-top: 13px;
  float: right;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*# sourceMappingURL=main.css.map */